ul {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 50px;
  text-align: center;
}

form * {
  padding: 5px;
  border-radius: 5px;
}

section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
}

section div:nth-child(even) {
  font-weight: bold;
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  margin-bottom: 20px;
}

#add-review-form > textarea {
  width: 250px;
}

#add-review-form > button {
  font-size: 16px;
  width: 160px;
  grid-column: 2 / 3;
  margin-bottom: 24px;
}

div{
  text-align: center;
  font-size: 24px;
  color: darkgreen;
  padding: 20px;
  margin: 20px;
}
h2{
  color: blue;
}

span{
  padding: 20px;
  text-align: center;
  color: red;
  font-size: 28px;

}

label{
  padding: 20px;
  margin-top: 30px;
}

input {
  margin-top: 30px;
  margin-bottom: 30px;
}
